<h3 class="mt-3">Lista de Pedidos</h3>
    <div class="row">
        <div class="col-8 my-2">
            <input type="text" onchange="changeSearch()" id="search" class="form-control" name="nit">
        </div>
        <div class="col-2 my-2 d-grid gap-1">
            <a href="/get-pedidos/" id="btn-search"class="btn btn-success"><i class="fa fa-search"></i></a>
        </div>
    </div>

{{#each pedidos}}
    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p><b>NIT: </b> {{ this.nit }} </p>
                    <p><b>Cliente: </b> {{ this.cliente }} </p>
                    <p><b>Fecha: </b> {{ dateLit this.fecha_pedido }}</p>
                    <p><b>Total: </b> {{ this.total}} Bs.</p>
                </div>
            </div>
            <div class="text-end">
                <a class="btn btn-sm btn-outline-danger border-0" href="/get-factura-pedido/{{this.id}}">
                    <i class="fa fa-file-pdf"></i>
                </a>
            </div>
        </div>
    </div>
{{/each}}
<script>
    const changeSearch = () => {
        const search = document.getElementById('search');
        const btnSearch = document.getElementById('btn-search');

        btnSearch.href = `/get-pedidos/${search.value}`;

    }
</script>